body {
    margin: 0;
}

main {
    min-height: 90vh;
}

img{
    width: 100px;
    height: 100px;
}

footer {
    background-color: darkblue;
    color: white;
    display: flex;
    justify-content: space-around;
}